/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #000000;
  background-color: rgb(189, 247, 255);
}
  
/*Especificidad: 001*/
h1 {
  color: #fff;    
  background-color:#008cc4; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
}

/*Especificidad: 001*/
video {
  width:100%;
  height: auto;
}

/*Especificidad: 002*/
picture img{
  max-width: 90%;
  min-width: 40%;
}

/*Especificidad: 001*/
p {
  color: #000000;
  background-color: rgb(189, 247, 255);
}